// SCSS Variables 
$font-main: "Source Sans 3", sans-serif;
$font-heading: "Bungee", sans-serif;
$font-weight-default: 300;
$font-weight-strong: 600;
$font-size-default: 24px;
$font-color-primary: #545149;
$bg-color-main: cornsilk;
$nav-height: 120px;