// SCSS Variables 
$font-main: "Source Sans 3", sans-serif;
$font-heading: "Bungee", sans-serif;

$font-size-default: 24px;
$font-weight-default: 300;
$font-weight-strong: 600;

$font-color-primary: #545149;
$font-color-secondary: #FFFFFF;
$bg-color-main: cornsilk;
$bg-color-nav: #4056A1;

$nav-height: 120px;