/* 
* --nav-height defined in layout.css  
*/

@import './_default-value-variables';
@import './vertical-align-mixin';

header.profile-header {
  margin-top: var(--nav-height);
  background-color: #F3B137;
  background-image: url("https://www.transparenttextures.com/patterns/dark-mosaic.png");
  width: 100%;
  @include align-vertical(column);
  & h2 {
    color: $font-color-secondary;
  }
}

@media only screen and (min-width: 1024px) {
  header.profile-header {
    width: 50%;
    padding: calc(var(--nav-height)/4) 5%;
    margin: calc(var(--nav-height)/2);
    margin-top: calc(var(--nav-height)*2);
  }
  header.profile-header > br {
    display: none;
  }
}