section.tweet-container {
  width: 90%;
  align-items: center;
}

article.tweet > * {
  padding: 5px;
}

article.tweet {
  border: 5px solid #545149;
  padding: 5px;
  margin-bottom: 3%;
}
article.tweet header, article.tweet footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}
article.tweet header div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
article.tweet header div img {
  margin-right: 0.5em;
}
article.tweet p {
  font-weight: 600;
}
article.tweet footer {
  border-top: 5px solid #545149;
  padding: 5px;
  font-size: smaller;
}
article.tweet footer div i {
  color: #4056A1;
}
article.tweet footer div i:hover {
  color: goldenrod;
}

article.tweet:hover {
  box-shadow: 5px 5px grey;
}
